################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Decorator/bin/Debug/netcoreapp2.1
/Decorator/obj
/Decorator/Decorator.userosscache
