################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Decorator/bin/Debug/netcoreapp2.1
/Decorator/obj
/Decorator/Decorator.userosscache
/.vs/design-patterns/v15/.suo
/.vs/DesignPatterns/v16
/.vs
/Composite/bin/Debug/netcoreapp3.1
/Composite/obj
/Composite/Composite.userosscache
/Decorator/.vs/Decorator/DesignTimeBuild
/Decorator/.vs/Decorator/v15
